#app {
    min-height: 100vh;
    display: grid;
    grid-template: minmax(auto, auto) 1fr minmax(auto, auto) / 1fr;
}

a {
    text-decoration: none;
    color: #495057;
}

a:hover {
    color: #000;
}

